apptainer{
    enabled= true
    autoMounts= true
    //to change or to comment
    cacheDir= '$VSC_DATA/.apptainer/cache'
    tmpDir = '$VSC_DATA/.apptainer/tmp'
}

params {
    input_csv = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/training/2025/nextflow/data/input.csv"
    outdir = "results"
    channel_axis =  3
    z_axis = 0
    image_axes = "ZYXC"
    label_axes = "ZYX"
    channels = [0,2]
    time_point = 0
    diameter = 70
    cellprob_threshold = -3
    flow3D_smooth =2
    anisotropy= 5
    min_size = 1000
    properties ="label,centroid,area,max_intensity"
}



process {
    executor = 'slurm'
    withName: 'CONVERSION' {
        // to change
        container = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/2025/nextflow/containers/metrics.sif"
        clusterOptions= "--account=2024_300  --partition=gpu_rome_a100_40  --nodes=1"
        memory = '2.GB'
        cpus = 1
        publishDir =[
        path: {"${params.outdir}/converted"}, 
        mode: 'copy', 
        pattern: "*.ome.{tif,tiff}"  
        ]
    }
    withName: 'CELLPOSE' {
        containerOptions = ' --nv '
         // to change
        container = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/nextflow/containers/cellpose4.sif"
        clusterOptions= "--account=2024_300   --partition=gpu_rome_a100_40  --gpus-per-node=1 --nodes=1"
        cpus= 4
        memory = '2 GB'
        publishDir = [
            path: {"${params.outdir}/cellpose"},
            mode: 'copy',
            pattern: '*.{tif,tiff}'
        ]
        ext.args =  [
            "--use_gpu",
            "--Zstack",
            "--do_3D",
            "--verbose",
            "--save_tif",
            "--no_npy",
            "--channel_axis", "${params.channel_axis}",
            "--z_axis", "${params.z_axis}",
            "--anisotropy", "${params.anisotropy}",
            "--diameter", "${params.diameter}",
            "--cellprob_threshold", "${params.cellprob_threshold}",
            "--flow3D_smooth", "${params.flow3D_smooth}",
            "--min_size", "${params.min_size}",
        ].join(' ').trim()
    }
    withName: 'METRICS' {
        // to change
        container = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/nextflow/containers/metrics.sif"
            publishDir =[
            path: "${params.outdir}/metrics", 
            mode: 'copy', 
            pattern: "*.xlsx"
        ]
        clusterOptions= "--account=2024_300  --partition=gpu_rome_a100_40 --nodes=1"
        memory = '2.GB'
        cpus = 1
        ext.args = [
            "--image_axes", "${params.image_axes}",
            "--label_axes",  "${params.label_axes}",
        ].join(' ').trim()
    }
}
